* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    padding-bottom: 2000px;
}

#book-table, th, td {
    border: 1px solid black;
}

#book-table {
    background-color: white;
}

th, td {
    padding: 5px 40px;
    border-radius: 10px;
    border: none;
}

#del-btn {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}


#book-details {
    display: grid;
    width: clamp(200px, 50%, 400px);
    border: solid 1px rgb(147, 147, 147);
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
    display: none;
    position: fixed;
    top: 200px;

    background-color: white;
}

#youtubelogo {
    height: 30px;
}

#add-btn {
    position: fixed;
    cursor: pointer;
    left: 20px;

    padding: 10px;
    border: none;
    border-radius: 5px;
}






.main-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 30px;
    position: relative;
}

.input {
    padding: 5px;
}

